.profile-page-content__background {
    width: 100%;
    background-color: grey;
    aspect-ratio: 4/1;
}

.profile-page-content__profile-pic-parent-div {
    aspect-ratio: 2/1;
    width: calc(min(
        var(--sz-max-profile-pic-width),
        40%
    ));
    margin-left: calc(0.25 * min(
        var(--sz-max-profile-pic-width),
        40%
    ));
    display: flex;
    flex-direction: row-reverse;
    /* prevents stretching children to an undesired height
       (overriding aspect ratio) */
    align-items: flex-start;
    min-height: 0; /* prevents content from breaking the aspect ratio */
}

.profile-page-content__profile-pic {
    position: relative;
    top: -100%;
    width: 100%;
    background-color: blue;
}

.profile-page-content__background-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.profile-page-content__side-btn {
    margin-top: 0.3rem;
}

.profile-page-content__name {
    margin-top: 0.3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.profile-page-content__username {
    font-size: 1rem;
}

.profile-page-content__follow {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.8rem;
}

.profile-page-content__posts-header {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.profile-page-content__posts {
    margin-top: 0.3rem;
}
