.profile-page-content__background {
    height: var(--sz-profile-bg-height);
    background-color: grey;
}

.profile-page-content__profile-pic-parent-div {
    height: calc(0.5 * var(--sz-profile-pic-height));
    width: calc(
        var(--sz-profile-pic-height) +
        min(
            0.25 * var(--sz-profile-pic-height),
            (100% - var(--sz-profile-pic-height)) / 2
        )
    );
    display: flex;
    flex-direction: row-reverse;
    /* prevents stretching children to an undesired height
       (overriding aspect ratio)
    */
    align-items: flex-start;
}

.profile-page-content__profile-pic {
    position: relative;
    top: calc(-0.5 * var(--sz-profile-pic-height));
    width: var(--sz-profile-pic-height);
    background-color: blue;
}

.profile-page-content__background-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-page-content__side-btn {
    margin-top: 0.3rem;
}

.profile-page-content__name {
    margin-top: 0.3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.profile-page-content__username {
    font-size: 1rem;
}

.profile-page-content__follow {
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.8rem;
}

.profile-page-content__posts-header {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.profile-page-content__posts {
    margin-top: 0.3rem;
}
