.create-post {
    background-color: var(--clr-left-nav-background);
    border: 2px solid var(--clr-border);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* prevents stretching children to an undesired height
       (overriding aspect ratio)
    */
    align-items: flex-start;
}

.create-post__left-column {
    width: 50px;
    display: flex;
    justify-content: center;
}

.create-post__profile-pic {
    width: 30px;
    background-color: blueviolet;
    margin-top: 10px;
}

.create-post__middle-column {
    flex: 1 0;
    display: flex;
    align-items: center;
}

.create-post__content {
    width: 100%;
}

.create-post__textarea {
    vertical-align: bottom; /* prevents extra invisible bottom margin */
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    background-color: transparent;
    color: var(--clr-color);
    border: none;
    width: 100%;
}

.create-post__right-column {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}