.post {
    background-color: var(--clr-left-nav-background);
    border: 2px solid var(--clr-border);
    display: flex;
    flex-direction: row;
}

.post__left-column {
    width: 50px;
    display: flex;
    justify-content: center;
}

.post__icon {
    width: 30px;
    background-color: blueviolet;
    margin-top: 10px;
}

.post__right-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10px;
}

.post__author-info-and-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post__author-name {
    color: var(--clr-primary);
    margin-right: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

.post__author-username {
    color: var(--clr-post-grey-text);
    margin-right: 1rem;
    text-decoration: none;
}

.post__created-date {
    color: var(--clr-post-grey-text);
}

.post__interactions {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    color: var(--clr-post-grey-text);
}

.post__btn {
    background-color: var(--clr-dark-background);
    border-width: 0px;
    color: inherit;
    white-space: nowrap; /* Prevents being shrunk smaller than content */
    cursor: pointer;
}

.post__btn-div__active {
    color: var(--clr-primary);
}

.post__reply-to {
    border-radius: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--clr-post-grey-text);
}