.message-channel {
    background-color: var(--clr-left-nav-background);
    border-left: 2px solid var(--clr-border);
    border-right: 2px solid var(--clr-border);
    border-bottom: 2px solid var(--clr-border);
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.message-channel__left-column {
    width: var(--sz-message-channel-left-column-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-channel__right-column {
    width: calc(100% - var(--sz-message-channel-left-column-width));
}

.message-channel__profile-pic {
    background-color: red;
    width: 2.5rem;
    height: 2.5rem;
    background-color: blue;
    border-radius: 50%;
}

.message-channel__right-column-top {
    display: flex;
    flex-wrap: wrap;
    height: 1.7rem;
}

.message-channel__name {
    color: var(--clr-primary);
    margin-right: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

.message-channel__username {
    color: var(--clr-post-grey-text);
    margin-right: 1rem;
    text-decoration: none;
}

.message-channel__last-message {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 1.7rem;
}