.message-page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-page-content__messages {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    overflow-y: auto;
    padding-bottom: 10px;
}

.message-page-content__create {
}