.left-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-left-nav-background);
    padding-right: 1rem;
    padding-top: 0.5rem;
    height: 100%;
    padding-left: calc(max(max(100% - 992px, 0px) / 2, 1rem));
    flex: 0 0 auto;
}

.left-nav__btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: var(--fs-left-nav-text);
    height: calc(var(--f-height-multiplier) * var(--fs-left-nav-text));
}

.left-nav__btn:hover {
    color: var(--clr-left-nav-btn-hover);
}

.left-nav__btn__active {
    color: var(--clr-left-nav-btn-active);
}

.left-nav__icon-container {
    flex: 0 0 var(--fs-left-nav-text);
}

.left-nav__btn-text {
    display: none;
}

@media (width >= 768px) {
    .left-nav__btn-text {
        flex: 1 0;
        display: block;
    }
}