.message-page-content__messages {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.message-page-content__message-group-date {
    margin-top: 0.5rem;
    color: var(--clr-neutral-300);
    text-align: center;
}

.message-page-content__message-group {
    flex: 1 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}