.message-page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.message-page-content__content {
    flex: 1 0;
    overflow-y: auto;
}

.message-page-content__create {
    
}